USE [Hospital]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/12/2020 2:44:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 11/12/2020 2:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 11/12/2020 2:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 11/12/2020 2:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 11/12/2020 2:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
	[content] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 11/12/2020 2:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[data_Patient]    Script Date: 11/12/2020 2:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[data_Patient](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[statues] [bit] NULL,
	[date_time] [datetime] NULL,
	[Serial_Num] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_data_Patient] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Department]    Script Date: 11/12/2020 2:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Name] [nvarchar](120) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 11/12/2020 2:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[Name] [nvarchar](150) NOT NULL,
	[Adress] [nvarchar](150) NOT NULL,
	[telephone] [nvarchar](11) NOT NULL,
	[Id_dep] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EndAt] [time](7) NOT NULL,
	[startat] [time](7) NOT NULL,
	[num_reveal] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Nurse]    Script Date: 11/12/2020 2:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nurse](
	[Name] [nvarchar](120) NOT NULL,
	[Adress] [nvarchar](120) NOT NULL,
	[telephone] [nvarchar](11) NOT NULL,
	[Id_dep] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[patient]    Script Date: 11/12/2020 2:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patient](
	[Name] [nvarchar](150) NULL,
	[Adress] [nvarchar](150) NULL,
	[age] [int] NOT NULL,
	[Id_Doc] [int] NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[dat] [datetime] NULL,
	[number] [int] NOT NULL,
	[User_Id] [nvarchar](128) NOT NULL,
	[Serial_Num] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Serial_Num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Worker]    Script Date: 11/12/2020 2:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Worker](
	[Name] [nvarchar](120) NOT NULL,
	[Adress] [nvarchar](120) NOT NULL,
	[telephone] [nvarchar](11) NOT NULL,
	[Id_dep] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'92d8f9db-bbba-4af5-a197-7ca9c3201ea1', N'Ali@hotmail.com', 0, N'ACXZZf0ApOuXUN0P9RsxcOq6Tr+lYG4xX5zrMBQBdDXDuPhafb6iPVVp7EmJRTohOg==', N'013f7a16-0584-49a7-962d-2f172f5018b4', NULL, 0, 0, NULL, 1, 0, N'Ali@hotmail.com')
SET IDENTITY_INSERT [dbo].[data_Patient] ON 

INSERT [dbo].[data_Patient] ([Id], [statues], [date_time], [Serial_Num]) VALUES (19, 0, CAST(N'2020-11-08 23:52:38.083' AS DateTime), N'188165045')
INSERT [dbo].[data_Patient] ([Id], [statues], [date_time], [Serial_Num]) VALUES (20, 1, CAST(N'2020-11-08 23:54:39.757' AS DateTime), N'831282456')
INSERT [dbo].[data_Patient] ([Id], [statues], [date_time], [Serial_Num]) VALUES (21, 0, CAST(N'2020-11-08 23:57:42.873' AS DateTime), N'703455951')
SET IDENTITY_INSERT [dbo].[data_Patient] OFF
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([Name], [Id]) VALUES (N'اخصائي علاج طبيعي', 1)
INSERT [dbo].[Department] ([Name], [Id]) VALUES (N'العظام', 2)
INSERT [dbo].[Department] ([Name], [Id]) VALUES (N'الجراحة', 3)
SET IDENTITY_INSERT [dbo].[Department] OFF
SET IDENTITY_INSERT [dbo].[Doctor] ON 

INSERT [dbo].[Doctor] ([Name], [Adress], [telephone], [Id_dep], [Id], [EndAt], [startat], [num_reveal]) VALUES (N'Manufacture', N'سمسطا', N'01122893227', 2, 24, CAST(N'09:00:00' AS Time), CAST(N'09:00:00' AS Time), 152)
INSERT [dbo].[Doctor] ([Name], [Adress], [telephone], [Id_dep], [Id], [EndAt], [startat], [num_reveal]) VALUES (N'admin', N'Ahmed', N'01118168853', 3, 25, CAST(N'15:51:46.1296367' AS Time), CAST(N'15:51:46.1296367' AS Time), 20)
INSERT [dbo].[Doctor] ([Name], [Adress], [telephone], [Id_dep], [Id], [EndAt], [startat], [num_reveal]) VALUES (N'admin', N'Ahmed', N'6', 1, 26, CAST(N'14:55:00' AS Time), CAST(N'14:47:00' AS Time), 158)
SET IDENTITY_INSERT [dbo].[Doctor] OFF
SET IDENTITY_INSERT [dbo].[patient] ON 

INSERT [dbo].[patient] ([Name], [Adress], [age], [Id_Doc], [Id], [dat], [number], [User_Id], [Serial_Num]) VALUES (N'Mervat', N'Beba', 26, 24, 212, CAST(N'2020-11-11 14:53:14.013' AS DateTime), 3, N'92d8f9db-bbba-4af5-a197-7ca9c3201ea1', N'1584381563')
INSERT [dbo].[patient] ([Name], [Adress], [age], [Id_Doc], [Id], [dat], [number], [User_Id], [Serial_Num]) VALUES (N'jamal rabea mourad', N'banisuaf', 49, 24, 216, CAST(N'2020-11-11 17:23:59.113' AS DateTime), 3, N'92d8f9db-bbba-4af5-a197-7ca9c3201ea1', N'1745056807')
INSERT [dbo].[patient] ([Name], [Adress], [age], [Id_Doc], [Id], [dat], [number], [User_Id], [Serial_Num]) VALUES (N'adminsdf', N'Ahmed', 12, 26, 209, CAST(N'2020-11-09 00:11:01.317' AS DateTime), 3, N'92d8f9db-bbba-4af5-a197-7ca9c3201ea1', N'1788795236')
SET IDENTITY_INSERT [dbo].[patient] OFF
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[data_Patient]  WITH CHECK ADD  CONSTRAINT [FK_data_Patient_patient] FOREIGN KEY([Serial_Num])
REFERENCES [dbo].[patient] ([Serial_Num])
GO
ALTER TABLE [dbo].[data_Patient] CHECK CONSTRAINT [FK_data_Patient_patient]
GO
ALTER TABLE [dbo].[data_Patient]  WITH CHECK ADD  CONSTRAINT [FK_data_Patient_patient1] FOREIGN KEY([Serial_Num])
REFERENCES [dbo].[patient] ([Serial_Num])
GO
ALTER TABLE [dbo].[data_Patient] CHECK CONSTRAINT [FK_data_Patient_patient1]
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD  CONSTRAINT [FK_Doctor_Department] FOREIGN KEY([Id_dep])
REFERENCES [dbo].[Department] ([Id])
GO
ALTER TABLE [dbo].[Doctor] CHECK CONSTRAINT [FK_Doctor_Department]
GO
ALTER TABLE [dbo].[Nurse]  WITH CHECK ADD  CONSTRAINT [FK_Nurse_Department] FOREIGN KEY([Id_dep])
REFERENCES [dbo].[Department] ([Id])
GO
ALTER TABLE [dbo].[Nurse] CHECK CONSTRAINT [FK_Nurse_Department]
GO
ALTER TABLE [dbo].[patient]  WITH CHECK ADD  CONSTRAINT [FK_patient_AspNetUsers] FOREIGN KEY([User_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[patient] CHECK CONSTRAINT [FK_patient_AspNetUsers]
GO
ALTER TABLE [dbo].[patient]  WITH CHECK ADD  CONSTRAINT [FK_patient_Doctor] FOREIGN KEY([Id_Doc])
REFERENCES [dbo].[Doctor] ([Id])
GO
ALTER TABLE [dbo].[patient] CHECK CONSTRAINT [FK_patient_Doctor]
GO
ALTER TABLE [dbo].[Worker]  WITH CHECK ADD  CONSTRAINT [FK_Worker_Department] FOREIGN KEY([Id_dep])
REFERENCES [dbo].[Department] ([Id])
GO
ALTER TABLE [dbo].[Worker] CHECK CONSTRAINT [FK_Worker_Department]
GO
